In [1]:
# Dependencies and Setup
import pandas as pd

# File to Load (Remember to Change These)
file_to_load = "HeroesOfPymoli/purchase_data.csv"

# Read Purchasing File and store into Pandas data frame
purchase_data = pd.read_csv(file_to_load)

In [2]:
player_count = purchase_data["SN"].value_counts()
player_count = len(player_count)
print(player_count)

576

In [3]:
# Player Count
players_df = pd.DataFrame(columns = ["Total Players"])
players_df["Total Players"] = [purchase_data["SN"].nunique()]
players_df

   Total Players
0            576

In [4]:
### Purchasing Analysis (Total)
purchasing_df = pd.DataFrame()

# Number of Unique Items
unique_items = purchase_data["Item ID"].nunique()

purchasing_df["Number of Unique Items"] = [unique_items]

# Avg price
avg_price = purchase_data["Price"].mean()

purchasing_df["Average Price"] = [avg_price]

# Number of Purchases
total_purchases = purchase_data["Purchase ID"].count()

purchasing_df["Number of Purchases"] = [total_purchases]

# total revenue
total_revenue = purchase_data["Price"].sum()

purchasing_df["Total Revenue"] = [total_revenue]

purchasing_df["Average Price"] = purchasing_df["Average Price"].map('${:.2f}'.format)
purchasing_df["Total Revenue"] = purchasing_df["Total Revenue"].map('${:.2f}'.format)


purchasing_df

   Number of Unique Items Average Price  Number of Purchases Total Revenue
0                     179         $3.05                  780      $2379.77

In [5]:
### Gender Demogrpahics
gender_df = pd.DataFrame()

# removing duplicate SN's 
noduplicates_df = purchase_data.drop_duplicates(subset = ["SN"])

# getting gender counts
gender_values = noduplicates_df["Gender"].value_counts().tolist()

# creating columns
gender_df["Total Count"] = [gender_values [0]]

gender_df

   Total Count
0          484

In [6]:
#  creating new summary dataframe
result = pd.DataFrame({"Gender":["Male", "Female","Other / Non-Disclosed"], "Total Count": gender_values})
result

player_total = sum(gender_values)

In [7]:
result["Percentage of Players"] = round((result["Total Count"] / player_total)*100,2)

# display summary for Gender Demogrpahics
result

                  Gender  Total Count  Percentage of Players
0                   Male          484                  84.03
1                 Female           81                  14.06
2  Other / Non-Disclosed           11                   1.91

In [8]:
### Gender Demographics (Purchasing Analysis) 

purchase_data.head()

,Purchase ID,SN,Age,Gender,Item ID,Item Name,Price
0,0,Lisim78,20,Male,108,"Extraction, Quickblade Of Trembling Hands",3.53
1,1,Lisovynya38,40,Male,143,Frenzied Scimitar,1.56
2,2,Ithergue48,24,Male,92,Final Critic,4.88
3,3,Chamassasya86,24,Male,100,Blindscythe,3.27
4,4,Iskosia90,23,Male,131,Fury,1.44

In [9]:
##  - run calculations
import numpy as np
purchase_data.groupby(['Gender'])['Price'].agg(np.mean)

Gender
Female                   3.203009
Male                     3.017853
Other / Non-Disclosed    3.346000
Name: Price, dtype: float64

In [10]:
purchase_data['Gender'].value_counts()

Male                     652
Female                   113
Other / Non-Disclosed     15
Name: Gender, dtype: int64

In [11]:
pd_df = purchase_data.groupby(['Gender']).agg({'Price':['count','mean','sum']})
pd_df

                      Price
                      count      mean      sum
Gender
Female                  113  3.203009   361.94
Male                    652  3.017853  1967.64
Other / Non-Disclosed    15  3.346000    50.19

In [12]:
#  dropping "Price" from summary
pd_df = pd_df.droplevel(0, axis=1)
pd_df

                       count      mean      sum
Gender
Female                   113  3.203009   361.94
Male                     652  3.017853  1967.64
Other / Non-Disclosed     15  3.346000    50.19

In [13]:
# renaming columns

pd_df.columns = ['Purchase Count', 'Average Purchase Price', 'Total Purchase Value']

pd_df

,Purchase Count,Average Purchase Price,Total Purchase Value
Gender,,,
Female,113,3.203009,361.94
Male,652,3.017853,1967.64
Other / Non-Disclosed,15,3.346000,50.19

In [33]:
purchase_data.shape

(780, 8)

In [41]:
result

                  Gender  Total Count  Percentage of Players
0                   Male          484                  84.03
1                 Female           81                  14.06
2  Other / Non-Disclosed           11                   1.91

In [46]:
# merging data frames
df_merge = pd.merge(pd_df, result, left_index=True, right_index=True)

df_merge.index

Index([], dtype='object')

In [43]:
df_merge['Average Total Purchase per Person'] = df_merge['Total Purchase Value']/df_merge['Total Count']

df_merge

Empty DataFrame
Columns: [Purchase Count, Average Purchase Price, Total Purchase Value, Gender, Total Count, Percentage of Players, Average Total Purchase per Person]
Index: []

In [38]:
del df_merge['Percentage of Players']
df_merge

Empty DataFrame
Columns: [Purchase Count, Average Purchase Price, Total Purchase Value, Gender, Total Count, Average Total Purchase per Person]
Index: []

In [39]:
del df_merge['Total Count']
df_merge

Empty DataFrame
Columns: [Purchase Count, Average Purchase Price, Total Purchase Value, Gender, Average Total Purchase per Person]
Index: []

In [40]:
# fixing last column name
df_merge.columns = ['Purchase Count', 'Average Purchase Price', 'Total Purchase Value', "Average Total Purchase per Person"]
df_merge

ValueError: Length mismatch: Expected axis has 5 elements, new values have 4 elements

In [22]:
df_merge.columns

Index(['Purchase Count', 'Average Purchase Price', 'Total Purchase Value',
       'Average Total Purchase per Person'],
      dtype='object')

In [23]:
### Age Demogrpahics

# Create the bins in which Data will be held
bins=[0, 9, 14, 19, 24, 29, 34, 39, 1000]
labels= ["<10", "10-14", "15-19", "20-24", "25-29", "30-34", "35-39", "40+"]

# categorize existing players using age bins created
purchase_data["Age Range"] = pd.cut(purchase_data["Age"], bins, labels=labels, include_lowest=True)

# calculate numbers/percentages by age group
less_than_ten = purchase_data.loc[(purchase_data["Age Range"]== "<10")]
less_than_ten_count = len(less_than_ten['SN'].unique())
less_than_ten_percent = "{:.2%}".format(less_than_ten_count/player_count)

ten_to_fourteen = purchase_data.loc[(purchase_data["Age Range"]== "10-14")]
ten_to_fourteen_count = len(ten_to_fourteen['SN'].unique())
ten_to_fourteen_percent = "{:.2%}".format(ten_to_fourteen_count/player_count)

fifteen_to_nineteen = purchase_data.loc[(purchase_data["Age Range"]== "15-19")]
fifteen_to_nineteen_count = len(fifteen_to_nineteen['SN'].unique())
fifteen_to_nineteen_percent = "{:.2%}".format(fifteen_to_nineteen_count/player_count)

twenty_to_twentyfour = purchase_data.loc[(purchase_data["Age Range"]== "20-24")]
twenty_to_twentyfour_count = len(twenty_to_twentyfour['SN'].unique())
twenty_to_twentyfour_percent = "{:.2%}".format(twenty_to_twentyfour_count/player_count)

twentyfive_to_twentynine = purchase_data.loc[(purchase_data["Age Range"]== "25-29")]
twentyfive_to_twentynine_count = len(twentyfive_to_twentynine['SN'].unique())
twentyfive_to_twentynine_percent = "{:.2%}".format(twentyfive_to_twentynine_count/player_count)

thirty_to_thirtyfour = purchase_data.loc[(purchase_data["Age Range"]== "30-34")]
thirty_to_thirtyfour_count = len(thirty_to_thirtyfour['SN'].unique())
thirty_to_thirtyfour_percent = "{:.2%}".format(thirty_to_thirtyfour_count/player_count)

thirtyfive_to_thirtynine = purchase_data.loc[(purchase_data["Age Range"]== "35-39")]
thirtyfive_to_thirtynine_count = len(thirtyfive_to_thirtynine['SN'].unique())
thirtyfive_to_thirtynine_percent = "{:.2%}".format(thirtyfive_to_thirtynine_count/player_count)

forty_or_more = purchase_data.loc[(purchase_data["Age Range"]== "40+")]
forty_or_more_count = len(forty_or_more['SN'].unique())
forty_or_more_percent = "{:.2%}".format(forty_or_more_count/player_count)


# Take results and create new summary dataframe of bins
age_df = pd.DataFrame({
    "Age Range" : ("<10", "10-14","15-19", "20-24", "25-29", "30-34", "35-39", "40+"),
    
    "Total Count" : [less_than_ten_count, ten_to_fourteen_count,fifteen_to_nineteen_count,twenty_to_twentyfour_count,
                    twentyfive_to_twentynine_count,thirty_to_thirtyfour_count,thirtyfive_to_thirtynine_count,
                    forty_or_more_count],
    
    "Percentage of Players" : [less_than_ten_percent,ten_to_fourteen_percent,fifteen_to_nineteen_percent,
                               twenty_to_twentyfour_percent,twentyfive_to_twentynine_percent,thirty_to_thirtyfour_percent,
                               thirtyfive_to_thirtynine_percent,forty_or_more_percent]
})

# set index/display
age_df = age_df.set_index("Age Range")
age_df

           Total Count Percentage of Players
Age Range
<10                 17                 2.95%
10-14               22                 3.82%
15-19              107                18.58%
20-24              258                44.79%
25-29               77                13.37%
30-34               52                 9.03%
35-39               31                 5.38%
40+                 12                 2.08%

In [24]:
### Age Demogrpahics (Purchasing Analysis)

# bin purchase_data dataframe by age
bins=[0, 9, 14, 19, 24, 29, 34, 39, 1000]
labels= ["<10", "10-14", "15-19", "20-24", "25-29", "30-34", "35-39", "40+"]
purchase_data["Age Range"] = pd.cut(purchase_data["Age"], bins, labels=labels, include_lowest=True)

# calculate numbers/percentages by age group
less_than_ten = purchase_data.loc[(purchase_data["Age Range"]== "<10")]
less_than_ten_purchase_count = less_than_ten["Purchase ID"].count()
less_than_ten_avg_purchase_price = "${:.2f}".format(less_than_ten["Price"].mean())
less_than_ten_total_purchase_value = "${:.2f}".format(less_than_ten["Price"].sum())
less_than_ten_avg_total_purchase_value = "${:.2f}".format(less_than_ten.groupby(['SN'])['Price'].sum().mean())

ten_to_fourteen = purchase_data.loc[(purchase_data["Age Range"]== "10-14")]
ten_to_fourteen_purchase_count = ten_to_fourteen["Purchase ID"].count()
ten_to_fourteen_avg_purchase_price = "${:.2f}".format(ten_to_fourteen["Price"].mean())
ten_to_fourteen_total_purchase_value = "${:.2f}".format(ten_to_fourteen["Price"].sum())
ten_to_fourteen_avg_total_purchase_value = "${:.2f}".format(ten_to_fourteen.groupby(['SN'])['Price'].sum().mean())

fifteen_to_nineteen = purchase_data.loc[(purchase_data["Age Range"]== "15-19")]
fifteen_to_nineteen_purchase_count = fifteen_to_nineteen["Purchase ID"].count()
fifteen_to_nineteen_avg_purchase_price = "${:.2f}".format(fifteen_to_nineteen["Price"].mean())
fifteen_to_nineteen_total_purchase_value = "${:.2f}".format(fifteen_to_nineteen["Price"].sum())
fifteen_to_nineteen_avg_total_purchase_value = "${:.2f}".format(fifteen_to_nineteen.groupby(['SN'])['Price'].sum().mean())

twenty_to_twentyfour = purchase_data.loc[(purchase_data["Age Range"]== "20-24")]
twenty_to_twentyfour_purchase_count = twenty_to_twentyfour["Purchase ID"].count()
twenty_to_twentyfour_avg_purchase_price = "${:.2f}".format(twenty_to_twentyfour["Price"].mean())
twenty_to_twentyfour_total_purchase_value = "${:.2f}".format(twenty_to_twentyfour["Price"].sum())
twenty_to_twentyfour_avg_total_purchase_value = "${:.2f}".format(twenty_to_twentyfour.groupby(['SN'])['Price'].sum().mean())

twentyfive_to_twentynine = purchase_data.loc[(purchase_data["Age Range"]== "25-29")]
twentyfive_to_twentynine_purchase_count = twentyfive_to_twentynine["Purchase ID"].count()
twentyfive_to_twentynine_avg_purchase_price = "${:.2f}".format(twentyfive_to_twentynine["Price"].mean())
twentyfive_to_twentynine_total_purchase_value = "${:.2f}".format(twentyfive_to_twentynine["Price"].sum())
twentyfive_to_twentynine_avg_total_purchase_value = "${:.2f}".format(twentyfive_to_twentynine.groupby(['SN'])['Price'].sum().mean())

thirty_to_thirtyfour = purchase_data.loc[(purchase_data["Age Range"]== "30-34")]
thirty_to_thirtyfour_purchase_count = thirty_to_thirtyfour["Purchase ID"].count()
thirty_to_thirtyfour_avg_purchase_price = "${:.2f}".format(thirty_to_thirtyfour["Price"].mean())
thirty_to_thirtyfour_total_purchase_value = "${:.2f}".format(thirty_to_thirtyfour["Price"].sum())
thirty_to_thirtyfour_avg_total_purchase_value = "${:.2f}".format(thirty_to_thirtyfour.groupby(['SN'])['Price'].sum().mean())

thirtyfive_to_thirtynine = purchase_data.loc[(purchase_data["Age Range"]== "35-39")]
thirtyfive_to_thirtynine_purchase_count = thirtyfive_to_thirtynine["Purchase ID"].count()
thirtyfive_to_thirtynine_avg_purchase_price = "${:.2f}".format(thirtyfive_to_thirtynine["Price"].mean())
thirtyfive_to_thirtynine_total_purchase_value = "${:.2f}".format(thirtyfive_to_thirtynine["Price"].sum())
thirtyfive_to_thirtynine_avg_total_purchase_value = "${:.2f}".format(thirtyfive_to_thirtynine.groupby(['SN'])['Price'].sum().mean())

forty_or_more = purchase_data.loc[(purchase_data["Age Range"]== "40+")]
forty_or_more_purchase_count = forty_or_more["Purchase ID"].count()
forty_or_more_avg_purchase_price = "${:.2f}".format(forty_or_more["Price"].mean())
forty_or_more_total_purchase_value = "${:.2f}".format(forty_or_more["Price"].sum())
forty_or_more_avg_total_purchase_value = "${:.2f}".format(forty_or_more.groupby(['SN'])['Price'].sum().mean())

# Take results and make new dataframe of bins
ageanalysis_df = pd.DataFrame({
    "Age Range" : ("<10", "10-14","15-19", "20-24", "25-29", "30-34", "35-39", "40+"),
    
    "Purchase Count" : [less_than_ten_purchase_count, ten_to_fourteen_purchase_count,fifteen_to_nineteen_purchase_count,
                        twenty_to_twentyfour_purchase_count,twentyfive_to_twentynine_purchase_count,
                        thirty_to_thirtyfour_purchase_count,thirtyfive_to_thirtynine_purchase_count,
                        forty_or_more_purchase_count],
    
    "Average Purchase Price" : [less_than_ten_avg_purchase_price,ten_to_fourteen_avg_purchase_price,
                                fifteen_to_nineteen_avg_purchase_price,twenty_to_twentyfour_avg_purchase_price,
                                twentyfive_to_twentynine_avg_purchase_price,thirty_to_thirtyfour_avg_purchase_price,
                                thirtyfive_to_thirtynine_avg_purchase_price,forty_or_more_avg_purchase_price],
    
    "Total Purchase Value" : [less_than_ten_total_purchase_value,ten_to_fourteen_total_purchase_value,
                                fifteen_to_nineteen_total_purchase_value,twenty_to_twentyfour_total_purchase_value,
                                twentyfive_to_twentynine_total_purchase_value,thirty_to_thirtyfour_total_purchase_value,
                                thirtyfive_to_thirtynine_total_purchase_value,forty_or_more_total_purchase_value],
    
    "Avg Total Purchase per Person" : [less_than_ten_avg_total_purchase_value,ten_to_fourteen_avg_total_purchase_value,
                                fifteen_to_nineteen_avg_total_purchase_value,twenty_to_twentyfour_avg_total_purchase_value,
                                twentyfive_to_twentynine_avg_total_purchase_value,thirty_to_thirtyfour_avg_total_purchase_value,
                                thirtyfive_to_thirtynine_avg_total_purchase_value,forty_or_more_avg_total_purchase_value]
})

# set index/display
ageanalysis_df = ageanalysis_df.set_index("Age Range")
ageanalysis_df

,Purchase Count,Average Purchase Price,Total Purchase Value,Avg Total Purchase per Person
Age Range,,,,
<10,23,$3.35,$77.13,$4.54
10-14,28,$2.96,$82.78,$3.76
15-19,136,$3.04,$412.89,$3.86
20-24,365,$3.05,$1114.06,$4.32
25-29,101,$2.90,$293.00,$3.81
30-34,73,$2.93,$214.00,$4.12
35-39,41,$3.60,$147.67,$4.76
40+,13,$2.94,$38.24,$3.19

In [25]:
### Top Spenders

# run calculations
purchase_count_by_SN = purchase_data.groupby(["SN"])["Purchase ID"].count()
average_purchase_price = purchase_data.groupby(["SN"])["Price"].mean()
total_purchase_value = purchase_data.groupby(["SN"])["Price"].sum()

# creating new summary dataframe
top_spenders_df = pd.DataFrame ({
    "Purchase Count" : purchase_count_by_SN,
    "Average Purchase Price" : average_purchase_price,
    "Total Purchase Value" : total_purchase_value
})

# sort in descending order by total purchase value
top_spenders_df.sort_values(by="Total Purchase Value", ascending=False, inplace=True)

# add pricing formatting
top_spenders_df["Average Purchase Price"] = top_spenders_df["Average Purchase Price"].map('${:.2f}'.format)
top_spenders_df["Total Purchase Value"] = top_spenders_df["Total Purchase Value"].map('${:.2f}'.format)

top_spenders_df.head()

             Purchase Count Average Purchase Price Total Purchase Value
SN
Lisosia93                 5                  $3.79               $18.96
Idastidru52               4                  $3.86               $15.45
Chamjask73                3                  $4.61               $13.83
Iral74                    4                  $3.41               $13.62
Iskadarya95               3                  $4.37               $13.10

In [26]:
### Most Popular Items

# group by Item ID and Item Name
purchase_data_by_itemID = purchase_data.groupby(["Item ID","Item Name"])

# run calculations 
popular_purchase_count = purchase_data_by_itemID["Purchase ID"].count()
popular_avg_item_price = purchase_data_by_itemID["Price"].mean()
popular_total_purchase_value = purchase_data_by_itemID["Price"].sum()

# creating new summary dataframe
most_popular_items_df = pd.DataFrame({
    "Purchase Count" : popular_purchase_count,
    "Item Price" : popular_avg_item_price,
    "Total Purchase Value" : popular_total_purchase_value
})

# sort in descending order by purchase count
most_popular_items_df.sort_values(by="Purchase Count", ascending=False, inplace=True)

# add price formatting
most_popular_items_df["Item Price"] = most_popular_items_df["Item Price"].map('${:.2f}'.format)
most_popular_items_df["Total Purchase Value"] = most_popular_items_df["Total Purchase Value"].map('${:.2f}'.format)

most_popular_items_df.head()

,,Purchase Count,Item Price,Total Purchase Value
Item ID,Item Name,,,
92,Final Critic,13,$4.61,$59.99
178,"Oathbreaker, Last Hope of the Breaking Storm",12,$4.23,$50.76
145,Fiery Glass Crusader,9,$4.58,$41.22
132,Persuasion,9,$3.22,$28.99
108,"Extraction, Quickblade Of Trembling Hands",9,$3.53,$31.77

In [27]:
### Most Profitable Items

# same dataframe from above
most_popular_items_df = pd.DataFrame({
    "Purchase Count" : popular_purchase_count,
    "Item Price" : popular_avg_item_price,
    "Total Purchase Value" : popular_total_purchase_value
})

# sort in descending order by total purchase value
most_popular_items_df.sort_values(by="Total Purchase Value", ascending=False, inplace=True)

# add price formatting
most_popular_items_df["Item Price"] = most_popular_items_df["Item Price"].map('${:.2f}'.format)
most_popular_items_df["Total Purchase Value"] = most_popular_items_df["Total Purchase Value"].map('${:.2f}'.format)

most_popular_items_df.head()

,,Purchase Count,Item Price,Total Purchase Value
Item ID,Item Name,,,
92,Final Critic,13,$4.61,$59.99
178,"Oathbreaker, Last Hope of the Breaking Storm",12,$4.23,$50.76
82,Nirvana,9,$4.90,$44.10
145,Fiery Glass Crusader,9,$4.58,$41.22
103,Singed Scalpel,8,$4.35,$34.80